# Next.js
.next/
out/
build/
!.next/cache/

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# WebStorm
.idea/
*.iml

# Build Outputs
dist/
coverage/

# Logs
logs/
*.log
*.log.*

# OS Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
/coverage/
/test-results/
/playwright-report/
/playwright/.cache/

# Vercel
.vercel/

# Temporary Files
*.swp
*.swo
*~
*.bak
*.tmp

# Lock Files
# package-lock.json (uncomment if you want to ignore it)
# Removed: package-lock.json (to include it in Git)

# Amplify
#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
amplify/backend/**/build/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

# Allow specific Amplify configuration files
!amplify/backend/api/*/parameters.json
!app/aws-exports.js